.title{
    font-family: "Helvetica Neue", Helvetica, Corbel, Arial, sans-serif;
    color: #ccc;
    font-size: 13px;
    line-height: 18px;
    word-spacing: 1px;
    font-weight: bold;
    letter-spacing:0.4px;
    text-align: center;
}
