/* -------------------------- tokeninput -------------------------------- */
.tokeninput input[type=submit] { float:right; margin-right:140px; margin-top:15px; }
.tokeninput .answer { width:230px; margin-top:20px; }
ul.token-input-list { margin: 0; padding: 0; }

ul.token-input-list li {list-style-type: none;}
ul.token-input-list li input {border: 0; width: 350px; padding: 3px 8px; background-color: white; -webkit-appearance: caret;}
li.token-input-token {
    overflow: hidden; height: auto !important; margin: 3px; padding: 3px 2px 0px; padding-left:8px;
    background-color: #2daebf; font-weight:bold; color: #fff; cursor: default; display: block;
}
li.token-input-token p {float: left;padding: 0; margin: 0;}
li.token-input-token span { float: right; cursor: pointer;}
li.token-input-selected-token {background-color: #08844e; color: #fff;}
li.token-input-selected-token span {color: #fff;}
div.token-input-dropdown {position: absolute; width: 386px; background-color: #fff; overflow: hidden; border: 1px solid #ccc;
    border-top:none; cursor: default; font-size: 12px; font-family: Verdana; z-index: 1;}
div.token-input-dropdown p {margin: 0; padding: 5px;font-weight: bold; color: #fff;display:none; /* sorunlu kısım*/}
div.token-input-dropdown ul { margin: 0; padding: 0;}
div.token-input-dropdown ul li {background-color: #fff; padding: 3px;list-style-type: none;}
div.token-input-dropdown ul li.token-input-dropdown-item {background-color: #fafafa;}
div.token-input-dropdown ul li.token-input-dropdown-item2 { background-color: #fff;}
div.token-input-dropdown ul li em {font-weight: bold; font-style: normal;}
div.token-input-dropdown ul li.token-input-selected-dropdown-item {background-color: #2daebf;color:#fff;}
span.token-input-delete-token {margin-top:5px;background: url(../images/closelabel.png) no-repeat; color:#2daebf;margin-right:5px;}
/* ---------------------------------------------------------------------- */


