#submit_button {
    height:23px;
    color:#2F7CA2;
    text-align:center;
    padding-top:6px;
    background:url(../images/btn.png) no-repeat top;
    font-weight:bold;
    width:96px;
    font-size:13px;
    display:block;
    cursor:pointer;
    border:none;
    height:auto;
    padding-bottom:7px;
}
#submit_button:active { background-position:bottom;}

/* -------------------------------------------------------------------- */

#review_button,
#edit_button,
#delete_button {
    background:url(../images/review.png) no-repeat center;
    height:24px;
    width:24px;
    border:none;
    cursor:pointer;
    float:left;
    margin-right:10px;
}
#edit_button {
    background:url(../images/edit.png) no-repeat center;
}
#delete_button {
    background:url(../images/delete.png) no-repeat center;
    margin-right:0px;
}
#accept_button {
    background:url(../images/process_accept.png) no-repeat center;
    margin-right:0px;
}
#warning_button {
    height:32px;
    background:url(../images/process_warning.png) no-repeat bottom;
    text-indent: -9000px;
    margin-bottom:-20px;
}

#accept_button {
    height:32px;
    background:url(../images/process_accept.png) no-repeat bottom;
    text-indent: -9000px;
    margin-bottom:-20px;
}
