/* ------------------------ custom table form ----------------------------- */
table.custom {
    width:599px;
    margin:0 auto;
    border-spacing: 5px;
    border-collapse: separate;
}

table.custom th,
table.custom td {
    padding: 4px;
    font-size: 12px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

table.custom textarea {height:150px;}
table.custom textarea,
table.custom input[type=text],
table.custom input[type=password]{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    padding: 8px;
    margin: 0;
    font-size: 13px;
    color: #555;
    width: 350px;
    border: 1px solid #ccc;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}

table.custom select {
    border:1px solid #bdc7d8;
    font:   13px Arial, Helvetica, sans-serif;
    padding:3px;
    padding-top:5px;
    background:#fff;
    width:  368px;
    height: 30px;
    color:  #585858;
}

table.custom input[type=text]:focus,
table.custom input[type=password]:focus {
    outline: 0;
    border: 1px solid #35addf;
}

table.custom td.label {
    text-align: right;
    vertical-align: top;
    color: #333;
    width: 200px;
    font-weight: bold;
    font-size: 11px;
    border-top: 1px solid #ddd;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
}

table.custom td.field {
    width: 350px;
    background: #ededed;
}
table.custom td.field span{float:left;margin:4px;}

table.custom td.captcha {
    float: right;
    display: inline-block;
    margin-top: -6em;
    margin-right: -14em;
}

table.custom td.info {
    font-size:13px;
    width: 1000px;/*label + field*/
}

/* -------------------------------------------------------------------- */
