label.label {
    color: #333;
    width: 400px; /* auto */
    height: auto;
    padding: 3px;
    margin:10px 0;
    background: #ededed;
    display: inline-block;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

label.label textarea {width:880px;height:120px;}
label.label textarea,
label.label input[type=text],
label.label input[type=password]{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    padding: 8px;
    margin: 0;
    font-size: 13px;
    color: #555;
    min-width:382px;
    border: 1px solid #ccc;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}

label.label select {
    border:1px solid #bdc7d8;
    font:   13px Arial, Helvetica, sans-serif;
    padding:3px;
    padding-top:5px;
    background:#fff;
    width:  352px;
    height: 30px;
    color:  #585858;
}

label.label input[type=text]:focus,
label.label input[type=password]:focus {
    outline: 0;
    border: 1px solid #35addf;
}
