#textslide {
	width: 900px;
	margin: 10px auto;
	background-color: #FFF;
	margin-left: 0px;
	margin-bottom: 50px;
}
.ticker {
	width: 920px;
	height: 40px;
	overflow: hidden;
	border: 1px solid #DDD;
	margin: 0;
	padding: 0;
	list-style: none;
	border-radius: 5px;
	box-shadow: 0px 0px 5px #DDD;
}
#ticker {
	height: 120px;
}
.ticker li {
	height: 30px;
	border-bottom: 1px dotted #DDD;
	padding: 5px;
	margin: 0px 5px;
}
